### functional programming
1.simple                       
2.easy to understand                  
3.better reuseability

In [0]:
def nameoffunction(<parameters>)
    statements
    return

In [3]:
## read a number 
## print the even digit sum from the number
def evenDigitSum(n):
  s=0
  while n!=0:
    r=n%10
    if(r%2==0):
      s=s+r
    n=n//10
  return s
evenDigitSum(1234)

6

In [4]:
def square(x):
  return x*x
square(3)

9

In [5]:
def square(x):
  print(x*x)
square(3)

9

In [7]:
def cube(x):
  return x*x*x
cube(3)

27

In [11]:
def multiply(x,y=0):
  print("the value of x:",x)
  print("the value of y: ",y)
  return(x*y)
print(multiply(x=1,y=2))

the value of x: 1
the value of y:  2
2

In [15]:
def swap(x,y):
  temp=x
  x=y
  y=temp
  return x,y
swap(2,3)

(3, 2)

In [18]:
a='c'
print(ord(a))

99

In [19]:
a=input("enter chracter")
print(ord(a))

enter chracterd
100

In [24]:
def largedigit(n):
  large=0 
  while n!=0:
    r=n%10
    if large<=r:
      large=r
    n=n//10
  return(large)
largedigit(19564)

9

#For loop:
Syntax 1 :                    

for i in range(start,stop,step):
>statements                    

Syntax 2 : 
                     
for i Iterableobject:                 
>statements

In [26]:
def printseries(lb,ub):
  for x in range(lb,ub+1):
    print(x,end = ' ')
  return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

In [0]:
def printseries(lb,ub):
  for x in range(lb,ub+1):
    print(x,end = ' ')
  return
printseries(1,10)

In [28]:
def table(n):
  for i in range(1,11):
   print(n,'X',i,'=',n*i)
table(18)

18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
18 X 6 = 108
18 X 7 = 126
18 X 8 = 144
18 X 9 = 162
18 X 10 = 180

##Collection types        
1.   List
2.   Tuple
3.    Set
4.Dictionary

##List


*   One of the Data Structures in python
*   Data Structure means to store,sort and Search options
*   It's one common Data Structure in python,the items og List seperated by camma and enclosed in square brackets[ ]

##Examples

1.  li1=[1,12,24]
2.  li2=["gitam",1,3,5]

In [49]:
li=["manjith",29,3,2000]
pi=[1,2,29]
print(li+pi)
print(pi[0])
print(li[-4])
print(li[1:])
print(li[1:3])
print(li[-3:-1])

['manjith', 29, 3, 2000, 1, 2, 29]
1
manjith
[29, 3, 2000]
[29, 3]
[29, 3]

In [54]:
li=["manjith",29,3,2000]
print(li)
li[1]=456
print(li)
del li[3]
print(li)
print(len(li))

['manjith', 29, 3, 2000]
['manjith', 456, 3, 2000]
['manjith', 456, 3]
3